body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 34px;
  line-height: 48px;
  margin: 60px 0 0;
  font-weight: 900;
  color: #27dfb1;
}
p {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  font-family: PT Mono, monospace;
}
h2 {
  text-align: center;
  color: black;
}
